*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.banner {
    background: url(mountains-1587287_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    padding: 50px;
    overflow-x:hidden;
}

.banner h1 {
    float: right;
    color: #fff;
    font-size: 70px;
    position: relative;
    top: 200px;
    align-items: center;
    justify-content: center;
}

.banner p{
    color: #fff;
    position: relative;
    top: 380px;
    left: 745px;
    font-size: 20px;
}

.services h3{
    padding: 50px 30px 0px;
    text-align: center;
    font-size: 50px;
}

.services p {
    text-align: center;
    font-size: 30px;
}

.cards {
    padding: 15px 0px 15px 15px;
    float: left;
    width: 33%;
}

.cards:hover {

}
